.card-container {
  margin: 2%;

  display: flex;
  flex-direction: column;
  height: 5vh;
  width: 85vw;
}

.management-card {
  /*height: 20%;*/
  /*width: 40%;*/
  max-width: 100%;
}

.table-container {
  height: 100%;
  overflow: auto;
}

table {
  width: 100%;
}
