footer {
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2E7D32;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  padding: 5px;
  max-width: 40px;
  height: auto;
}

.spacer {
  flex: 1;
}
