<footer>
    <small>&copy; Copyright {{currentYear}}, Ergasiomnaeis All Rights Reserved</small>
    <div class="spacer"></div>
    <a href="https://facebook.com" target="_blank" rel="noopener"><img [src]="facebookUrl" id="facebook"></a>
    <a href="https://instagram.com" target="_blank" rel="noopener"><img [src]="instagramUrl" id="instagram"></a>
    <a href="https://twitter.com" target="_blank" rel="noopener"><img [src]="twitterUrl" id="twitter"></a>
    <a href="https://youtube.com" target="_blank" rel="noopener"><img [src]="youtubeUrl" id="youtube"></a>
</footer>