<mat-card class="forgot-password-card">
  <mat-card-header>
    <mat-card-title>Account Recovery</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field class="email-input-field">
        <mat-label>Enter the e-mail you used to register your account:</mat-label>
        <input matInput placeholder="address@example.com" [formControl]="emailFormControl"
               type="email" name="recovery-email" [(ngModel)]="recoveryEmail" required>
        <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="submit()" color="primary">Submit</button>
  </mat-card-actions>
</mat-card>
