#logo {
  width: 85px;
  height: 85px;
}

.toolbar-button {
  font-size: 1em;
}

.menu-button {
  margin: auto;
}

.flex-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.top-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  height:10vh;
  min-height: 69px;
}

/*---------------- Responsive Styles ------------------*/

#responsive-logo {
  width: 85px;
  height: auto;
}

.flex-container-mobile {
  display: flex;
  flex: 1;
}

.example-spacer-mobile {
  flex: 1;
}
