
.mat-card-header-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#title-text {
  font-size: large;
}

.icon{
  color:red;
}

#preview-img {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

