.mat-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

>>> .mat-card-header-text {
  /*width: 100%;*/
}
.icon{
  color:red;
}

#preview-img {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

