.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.field-list {
  flex-grow: 2;
}

.button-toggle-group-container {
  display: block;
  padding-bottom: 5%
}

.chip-list-container {
  margin-top: 8%;
}

.section-title {
  font-size: medium;
}

.section-subtitle {
  font-size: small;
}

.chip-list {
  width: 80%;
}
