.container {
  display: flex;
}

.contact-us-card {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 10% auto;
  margin-top:3%;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.button {
  flex-basis: 21px;
  display:block;
  margin:0 auto;
}


















/*
.contact-us-card {
    width: 25%;
    margin: 10% auto;
}

.mat-card-title {
  font-size: 21px;
}

.text-area{
  height: 100px;
}
*/