.container {
  display: flex;
}

.contact-us-card {
  display: flex;
  flex-direction: column;
  min-width: 275px;
  width: 25%;
  margin: 10% auto;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.btn-custom {
  margin: 5px;
}

.send-icon {
  margin: 5px;
  /* margin: auto; */
}


















/*
.contact-us-card {
    width: 25%;
    margin: 10% auto;
}

.mat-card-title {
  font-size: 21px;
}

.text-area{
  height: 100px;
}
*/