<div class="container">
    <mat-card class="contact-us-card">
        <!-- Header -->
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <!-- Card Content -->
        <mat-card-content>
            <form class="form-area">
                <table class="form-content">
                    <!-- Name -->
                    <mat-form-field class="name-area">
                        <input matInput placeholder="Name" [(ngModel)]="fullName" name="fullname" required>
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                    <!-- E-Mail -->
                    <mat-form-field class="email-area">
                        <input matInput placeholder="Enter your email" [(ngModel)]="contactEmail" name="contactemail"
                            required>
                        <mat-icon matSuffix>drafts</mat-icon>
                    </mat-form-field>
                    <!-- Phone Number -->
                    <mat-form-field class="telephone-area">
                        <input type="tel" matInput placeholder="Telephone" [(ngModel)]="telephone" name="telephone"
                            required>
                        <mat-icon matSuffix>call</mat-icon>
                    </mat-form-field>
                    <!-- Subject -->
                    <mat-form-field class="subject-area">
                        <input matInput placeholder="Subject" [(ngModel)]="subject" name="subject" required>
                        <mat-icon matSuffix>create</mat-icon>
                    </mat-form-field>
                    <!-- Text -->
                    <mat-form-field>
                        <textarea matInput placeholder="Textarea" [(ngModel)]="textarea" name="textarea" required
                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="13"></textarea>
                        <mat-icon matSuffix>save</mat-icon>
                    </mat-form-field>
                    <!-- Submit Button -->
                    <div class="button">
                        <button mat-raised-button color="primary" class="btn-custom" (click)="onClick()">Send Now<i
                                class="material-icons">send</i></button>
                    </div>
                    <div id="alert-message"
                        [ngClass]="{'alert-error-text' : alertMessage.type === 'error', 'alert-success-text' : alertMessage.type === 'success'}"
                        *ngIf="alertMessage">{{alertMessage.text}}
                    </div>
                </table>
            </form>
        </mat-card-content>
    </mat-card>
</div>
