<div class="container">
    <mat-card class="contact-us-card">
        <!-- Header -->
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <!-- Card Content -->
        <mat-card-content>
            <form [formGroup]="entryForm" id="entry-form" class="form">
                <table class="form-content">
                    <!-- Name -->
                    <mat-form-field class="name-area">
                        <input matInput placeholder="Name" formControlName="fullName" name="fullName"
                            [errorStateMatcher]="genericErrorStateMatcher" required>
                        <mat-error *ngIf="entryForm.get('fullName').hasError('required')" required>
                            Please enter a full name</mat-error>
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                    <!-- E-Mail -->
                    <mat-form-field class="email-input-field">
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="address@example.com" formControlName="email" name="email"
                            type="email" [errorStateMatcher]="genericErrorStateMatcher" required>
                        <mat-error *ngIf="entryForm.get('email').hasError('required')">
                            Please enter an e-mail
                        </mat-error>
                        <mat-error *ngIf="entryForm.get('email').hasError('email')">
                            Please a valid email address
                        </mat-error>
                    </mat-form-field>
                    <!-- Phone Number -->
                    <mat-form-field class="phonenumber-area">
                        <input type="tel" matInput placeholder="Phone number" formControlName="phoneNumber"
                            name="phoneNumber" [errorStateMatcher]="genericErrorStateMatcher" required>
                        <mat-error *ngIf="entryForm.get('phoneNumber').hasError('required')">
                            Please enter a phone number
                        </mat-error>
                        <mat-icon matSuffix>call</mat-icon>
                    </mat-form-field>
                    <!-- Subject -->
                    <mat-form-field class="subject-area">
                        <input matInput placeholder="Subject" formControlName="subject" name="subject"
                            [errorStateMatcher]="genericErrorStateMatcher" required>
                        <mat-error *ngIf="entryForm.get('subject').hasError('required')">
                            Please enter a subject
                        </mat-error>
                        <mat-icon matSuffix>create</mat-icon>
                    </mat-form-field>
                    <!-- Text -->
                    <mat-form-field>
                        <textarea matInput placeholder="Textarea" formControlName="text" name="text"
                            [errorStateMatcher]="genericErrorStateMatcher" required cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="13"></textarea>
                        <mat-error *ngIf="entryForm.get('text').hasError('required')">
                            Please enter a text
                        </mat-error>
                        <mat-icon matSuffix>save</mat-icon>
                    </mat-form-field>
                    <!-- Submit Button -->
                    <div class="button">
                        <button mat-raised-button color="primary" type="submit" form="entry-form" (click)="onClick()">
                            Send Now<i class="material-icons">send</i></button>
                    </div>
                    <div id="alert-message"
                        [ngClass]="{'alert-error-text' : alertMessage.type === 'error', 'alert-success-text' : alertMessage.type === 'success'}"
                        *ngIf="alertMessage">{{alertMessage.text}}
                    </div>
                </table>
            </form>
        </mat-card-content>
    </mat-card>
</div>