<h1>{{title}}</h1>
<!-- Text -->
<p class="p1">
  It is said that “the only bad workout, is the one that didn’t happen”. Well, the good news is that we are here to change that!
</p>
<br>
<p class="p1">
  “Click4Fit” is an online platform created solely with one goal:
</p>
<br>
<p class="p1">
  Provide its users with a great collection of fitness-oriented businesses like gyms,
  fitness shops or even fitness specialists like personal trainers, where anyone can find the ideal deal for their needs.
</p>
<br>
<p class="p1">
  We give you the tools to search for results based on filters like Country and City, 
  while at the same time providing you with an easy to use interface. Why bother spending many hours searching the internet, 
  when everything you need is neatly organized in one place?
</p>
<br>
<p class="p1">
  But we do not stop there!
</p>
<br>
<p class="p1">
  We also provide you with a great variety of workout exercises and instructions, 
  while at the same time allowing you to effortlessly browse through them using targeted filters,
  so that you can quickly find the best exercise for your daily needs. 
  Is it leg day and you are unsure about how you can step up your training routine? No problem! 
  Just fill in the desired difficulty of the exercise you are looking for, and we will get the instructions for you in no time! 
  But wait! Maybe today is not a training day, and you’ve decided to workout at home, but don’t have any equipment? It’s okay! 
  Just choose the “No Equipment” filter and we will only show you exercises that do not require any equipment! 
  Regardless of the scenario, we are here to help you achieve your workout goals and stay fit and healthy!
</p>
<br>
<p class="p1">
  That’s all good, but regular users are not the only ones who benefit from our platform! 
  Are you a fitness business owner or a self-employed specialist who is looking to increase their client base? 
  Then “Click4Fit” is the tool you are looking for! 
  We are giving you the option of creating a business account and using it to present your business activities to our users. 
  The procedure is easy, fast and above all free, with no hidden costs!
</p>
<br>
<p class="p1">
  At “Click4Fit”, we aim to bring the general public closer to fitness than ever,
  while simultaneously boosting the business initiatives and professionals that have the experience and knowledge to make a positive 
  impact on those who are committed to making a positive change in their lifestyle.
  We are committed to help you stay healthy, prosperous and fit. 
</p>
<br>
<p class="p1">
  So, it’s about time you stopped wishing for a good body… because why wish for something, when you can <b>Search</b> for it…?
</p>
<br>
<p class="p1">
  On behalf of Stefanos, Alex, Eirini and Marina, we wish you a fulfilling trip towards fitness!
</p>
<br>
<br>
<p class="p3">
  Wondering how fitness and training can change your life style for the better?
</p>
<br>
<!-- Video Frames -->
<div class="row">
  <mat-card>
    <mat-card-title class="title">
      The brain-changing benefits of exercise
    </mat-card-title>
    <mat-card-content>
      <iframe class="frame" [src]='trustedVideoResource1' frameborder="0" allowfullscreen></iframe>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title class="title">
      Muscle matters: Dr Brendan Egan
    </mat-card-title>
    <mat-card-content>
      <iframe class="frame" [src]='trustedVideoResource2' frameborder="0" allowfullscreen></iframe>
    </mat-card-content>
  </mat-card>
</div><br>
