<h1>About us</h1>
<p class="p1">Welcome to Click4Fit, your number one source for all things about fitness.
  We're dedicated to giving you the very best of fitness, with a focus on gyms,
  training,personal training and fitness stores available in your are. Founded
  in 2020 by four computer science students, Click4Fit has come a long way
  from its beginnings in Greece. When the students first started out, their passion
  for training and fitness drove them to do tons of research about so that Click4Fit
  can offer to users how to stay fit and train easily. We now serve customers all over
  the country, and are thrilled that we're able to turn our passion into our own website.
  We hope you enjoy our app and services as much as we enjoy offering them to you.
  If you have any questions or comments, please don't hesitate to contact us!<br>
  Sincerely,<br>
  Stefanos, Alex, Eirini, Marina.</p>
<p class="p2">100+ Gyms Available<br>
  200+ Work out Exercises<br>
  180+ Personal Trainers<br>
  80+ Fitness Sale Points</p>
<p class="p3">Wondering how fitness and training can change your life style for the better? Check some info here :</p>
<br>
<div class="row">
  <mat-card>
    <mat-card-title class="title">
      The brain-changing benefits of exercise
    </mat-card-title>
    <mat-card-content>
      <iframe class="frame" src="https://www.youtube.com/embed/BHY0FxzoKZE" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title class="title">
      Muscle matters: Dr Brendan Egan
    </mat-card-title>
    <mat-card-content>
      <iframe class="frame" src="https://www.youtube.com/embed/LkXwfTsqQgQ" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </mat-card-content>
  </mat-card>
</div><br>