<div class="main-container">
  <h1 mat-dialog-title>Workout Details</h1>
  <div mat-dialog-content class="field-list">
    <form [formGroup]="entryForm" id="entry-form" (ngSubmit)="onSaveClick()" class="form">
      <table class="table" cellspacing="0">
        <tr>
          <mat-form-field>
            <mat-label>Workout Name</mat-label>
            <input matInput placeholder="e.g. George Brown" formControlName="name" name="name"
                   [errorStateMatcher]="genericErrorStateMatcher" required>
            <mat-error *ngIf="entryForm.get('name').hasError('required')">
              Please enter a workout name
            </mat-error>
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field>
            <mat-label>Category</mat-label>
            <input matInput formControlName="category" name="category" placeholder="e.g. Legs"
                   [errorStateMatcher]="genericErrorStateMatcher" required>
            <mat-error *ngIf="entryForm.get('category').hasError('required')">
              Please enter a workout category
            </mat-error>
          </mat-form-field>
        </tr>
        <tr>
          <div class="chip-list-container">
            <p class="section-title">Muscle Groups</p>
            <mat-form-field class="chip-list">
              <mat-chip-list #muscleGroupsChipList aria-label="Muscle Groups selection">
                <mat-chip *ngFor="let muscleGroup of this.entryForm.get('muscleGroups').value" [selectable]="selectable"
                          [removable]="removable" (removed)="removeMuscleGroupChip(muscleGroup)">
                  {{muscleGroup}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="New Muscle Group..."
                       [matChipInputFor]="muscleGroupsChipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="addMuscleGroupChip($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>
        </tr>
        <tr>
          <mat-radio-group aria-label="Advised for:" [(ngModel)]="advisedFor" required>
            <mat-radio-button value="both">Both</mat-radio-button>
            <mat-radio-button value="men">Men</mat-radio-button>
            <mat-radio-button value="women">Women</mat-radio-button>
          </mat-radio-group>
        </tr>
        <tr class="button-toggle-group-container">
          <p>Difficulty:</p>
          <mat-button-toggle-group vertical="true" [(value)]="difficulty">
            <mat-button-toggle value="easy">Easy</mat-button-toggle>
            <mat-button-toggle value="medium">Medium</mat-button-toggle>
            <mat-button-toggle value="hard">Hard</mat-button-toggle>
          </mat-button-toggle-group>
        </tr>
        <tr class="button-toggle-group-container">
          <p>Requires Equipment</p>
          <mat-button-toggle-group vertical="true" [(value)]="equipment">
            <mat-button-toggle value="yes">Yes</mat-button-toggle>
            <mat-button-toggle value="no">No</mat-button-toggle>
          </mat-button-toggle-group>
        </tr>
        <tr>
          <mat-form-field>
            <mat-label>Recommended Sets</mat-label>
            <input matInput placeholder="e.g. ???" formControlName="sets" name="sets"
                   [errorStateMatcher]="genericErrorStateMatcher" required>
            <mat-error *ngIf="entryForm.get('sets').hasError('required')">
              Please enter a set description
            </mat-error>
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field>
            <mat-label>Instruction Video</mat-label>
            <input matInput placeholder="e.g. www.youtube.com" formControlName="videoUrl" name="videoUrl"
                   [errorStateMatcher]="genericErrorStateMatcher" required>
            <mat-error *ngIf="entryForm.get('videoUrl').hasError('required')">
              Please enter the link to the instruction video
            </mat-error>
          </mat-form-field>
        </tr>
      </table>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" form="entry-form" (click)="onSaveClick()">Save</button>
    <button mat-raised-button color="warn" (click)="onDiscardClick()">Discard</button>
  </div>
</div>
