<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened position="start">
  <img [src]="logoUrl" id="image">  
  <mat-nav-list>
      <a mat-list-item class="list-item-text" routerLink="/user/dashboard">Dashboard</a>
      <a mat-list-item class="list-item-text" routerLink="/user/myprofile">My Profile</a>
      <a mat-list-item class="list-item-text" routerLink="/user/search">Search</a>
      <a mat-list-item class="list-item-text" routerLink="/user/workout">Workout</a>
      <a mat-list-item class="list-item-text" (click)="sidenav.toggle()" href="">Close</a>
  </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>

