.login-card {
  width: 25%;
  margin: 10% auto;
}

.mat-card-title {
  font-size: 21px;
}

#auth-error {
  color: #B71C1C;
  font-weight: bold;
}

.forgot-password {
  margin-left: 15px;
}

@media screen and (max-width:320px){
  .login-card {
    width: 70%;
    margin: 0 auto;
    display:block;
    margin-top:70px;
  }
}

@media screen and (max-height:320px){
  .login-card {
    width: 40%;
    margin: 0 auto;
    display:block;
    margin-top:15px;
  }
}

@media screen and (min-width:321px)and (max-width:375px){
  .login-card {
    width: 60%;
    margin: 0 auto;
    display:block;
    margin-top:70px;
  }
}

@media screen and (min-height:321px) and (max-height:375px){
  .login-card {
    width: 40%;
    margin: 0 auto;
    display:block;
    margin-top:25px;
  }
}

@media screen and (min-width:376px)and (max-width:425px){
  .login-card {
    width: 60%;
    margin: 0 auto;
    display:block;
    margin-top:70px;
  }
}

@media screen and (min-height:376px) and (max-height:425px){
  .login-card {
    width: 40%;
    margin: 0 auto;
    display:block;
    margin-top:35px;
  }
}
