<!-- Display on full screen -->
<mat-sidenav-container fullscreen>
  <!-- The first class for the error-image -->
<div class="error-image"></div>
  <!-- The second class for the framed error-text -->
  <div class="error-text">
    <h1><b>Oops!</b>Something went wrong</h1>
    <h2>We couldn't find the page you were looking for. Why not try back to the
      <!-- Button linked to homepage -->
      <a mat-button class="toolbar-button" routerLink="/home"><h3><b>homepage.</b></h3></a></h2>
  </div>
</mat-sidenav-container>
