<h1 mat-dialog-title>User Details</h1>
<div mat-dialog-content>
  <form class="form">
    <table class="table" cellspacing="0">
      <tr>
        <p class="business-id">User ID: {{this.id}}</p>
      </tr>
      <tr>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="e.g. George" [(ngModel)]="this.name" name="name" required>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="e.g. Brown" [(ngModel)]="this.lastname" name="lastname" required>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field>
          <mat-label>Birth Date</mat-label>
          <input matInput placeholder="e.g. 26/01/2000" [(ngModel)]="this.birthdate" name="birthdate" required>
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field class="email-input-field">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="address@example.com" [formControl]="emailFormControl"
                 type="email" name="registration-email" required>
          <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </tr>
    </table>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onSaveClick()">Save</button>
  <button mat-raised-button color="primary" (click)="onCloseClick()">Close</button>
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
