<mat-sidenav-container fullscreen>
  <mat-toolbar>
    <span class="title"><img [src]="logoUrl" id="logo"></span>
    <span class="empty-filler"></span>
    <div class="button-container">
      <a mat-button class="toolbar-button" routerLink="/login">Login</a>
      <a mat-button class="toolbar-button" routerLink="/register">Register</a>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <h1>Welcome</h1>
  <p class="moto">Don't wish for a good body. <i><b>Search</b></i> for it.</p>
  <img [src]="imageUrl" id="fitness">
</mat-sidenav-container>




