<!-- The general card of profile details -->
<mat-card class="details-card">
    <mat-card-header>
      <mat-card-title>Your profile details: </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- The form place with each detail -->
      <form class="form">
        <table class="table" cellspacing="0">
          <tr>
            <mat-form-field>
              <mat-label>First name</mat-label>
              <input matInput placeholder="e.g. George" [(ngModel)]="name" name="first-name" required>
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field>
              <mat-label>Last name</mat-label>
              <input matInput placeholder="e.g. Brown" [(ngModel)]="surname" name="last-name" required>
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field>
              <mat-label>Date of birth</mat-label>
              <input matInput [matDatepicker]="picker" [formControl]="birthdate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </tr>
        </table>
        <mat-form-field class="email-input-field">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="address@example.com" [formControl]="emailFormControl"
                 type="email" name="email" required [(ngModel)]="email">
          <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <table>
          <tr>
            <mat-form-field>
              <input matInput placeholder="Old password" [(ngModel)]="password" type="password" name="old-password" required>
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field>
              <input matInput placeholder="New password" [(ngModel)]="newPassword" type="password" name="new-password" required>
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field>
              <input matInput placeholder="New repeated password" [(ngModel)]="newRepeatedPassword" type="password" name="new-repeated-password" required>
            </mat-form-field>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <!-- The buttons of card -->
    <mat-card-actions class="buttons">
      <button mat-raised-button color="primary" id="update-details-button" (click)="onClickUpdate()">Update details</button>
      <button mat-raised-button color="warn" id="delete-button" (click)="onClickDelete()">Delete account</button>
    </mat-card-actions>
  </mat-card>

