h1{
  text-align: center;
  font-style: oblique;
  font-size: 45px;
  font-weight: normal;
}
.management-card {
  /*height: 20%;*/
  margin: 2.5%;
  /*max-width: 100%;*/
}

.filter-field {
  font-size: large;
  width: 100%;
}

.table-container {
  height: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

td, th {
  width: 25%;
}
