<h1>Dashboard</h1>
<!-- The first card about date -->
<mat-card class="date">
   <p class="medium">{{today | date:'fullDate'}}</p>
   <p class="mini">{{CurrentTime}}</p>
</mat-card><br>
<div class="flex"><!-- The class flex aplies its configuration only on mobile view -->
    <!-- THe second card about favorites -->
    <mat-card class="favorites">
        <mat-card-title class="favorites-title">
            Favorites <mat-icon class="icon">favorite</mat-icon>
        </mat-card-title><br>
        <mat-card-content class="content">
            <!-- The subcard of favorite workout -->
            <mat-card class="workout" *ngIf="!workoutIsEmpty">
                <mat-card-title class="category-title">
                    Your Workouts
                </mat-card-title><br>
                <mat-card-content>
                    <!--The subcard of each favorite -->
                    <mat-card *ngFor="let entry of FavoritesWorkoutResults" class="sub-card">
                        <mat-card-title class="title">
                            {{entry.name}}<br>
                            <mat-chip-list>
                                <mat-chip>{{entry.advisedFor}}</mat-chip>
                                <mat-chip>Equipment {{entry.equipment}}</mat-chip>
                                <mat-chip>{{entry.levelOfDifficulty}}</mat-chip>
                            </mat-chip-list>
                        </mat-card-title>
                        <mat-card-content>
                            <iframe class="frame" [src]='sanitizer.bypassSecurityTrustResourceUrl(entry.video)'
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                            <p class="sets">Recommended sets: {{entry.sets}}</p>
                        </mat-card-content>
                    </mat-card><br>
                </mat-card-content>
            </mat-card><br>
            <!-- The subcard of favorite places -->
            <mat-card class="places" *ngIf="!placeIsEmpty">
                <mat-card-title class="category-title">
                    Your Places
                </mat-card-title><br>
                <mat-card-content>
                    <!-- The subcard of each favorite -->
                    <mat-card *ngFor="let entry of FavoritesPlaceResults" class="sub-card">
                        <mat-card-header>
                            <mat-card-title class="title">{{entry.name}}</mat-card-title>
                            <mat-card-subtitle>{{entry.category}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image [src]="entry.imgPath">
                        <mat-card-content>
                            <div>
                                {{entry.country}}
                                {{entry.city}}
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
            </mat-card><br>

        </mat-card-content>
    </mat-card>
</div>
