<h1>Workout</h1>
<div class="row">
    <div>
        <mat-card class="category">
            <mat-card-title class="category-title">
                Legs
            </mat-card-title>
            <mat-card>
                <mat-card-title class="exercise-title">
                    Squat with weight
                </mat-card-title>
                <mat-card-content>
                    <iframe width="250" height="215" src="https://www.youtube.com/embed/MVMNk0HiTMg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </mat-card-content>
            </mat-card><br>
            <mat-card>
                <mat-card-title class="exercise-title">
                    Lunges
                </mat-card-title>
                <mat-card-content>
                    <iframe width="250" height="215" src="https://www.youtube.com/embed/a7amnNyWNxo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </mat-card-content>
            </mat-card>
        </mat-card>
    </div>
    <div>
       <mat-card class="category">
            <mat-card-title class="category-title">
               Triceps
            </mat-card-title>
           <mat-card>
                <mat-card-title class="exercise-title">
                    Kickbacks
                </mat-card-title>
                <mat-card-content>
                    <iframe width="250" height="215" src="https://www.youtube.com/embed/ShCYaoHmWmk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </mat-card-content>
            </mat-card><br>
            <mat-card>
                <mat-card-title class="exercise-title">
                    Dips on bench
                </mat-card-title>
                <mat-card-content>
                    <iframe width="250" height="215" src="https://www.youtube.com/embed/dl8_opV0A0Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </mat-card-content> 
            </mat-card> 
        </mat-card>
    </div>
    <div>
        <mat-card class="features">
            <mat-card-content>
                <div class="partofbody"><p class="part">Part of body</p>
                    <mat-checkbox>Legs</mat-checkbox><br>
                    <mat-checkbox>Back</mat-checkbox><br>
                    <mat-checkbox>Chest</mat-checkbox><br>
                    <mat-checkbox>Biceps</mat-checkbox><br>
                    <mat-checkbox>Triceps</mat-checkbox><br>
                    <mat-checkbox>Core</mat-checkbox><br>
                    <mat-checkbox>Abs</mat-checkbox><br>
                </div><br>
                <div class="advisedfor">
                    <mat-radio-group><p class="adv">Advised for</p>
                        <mat-radio-button id="women" value="Women">Women</mat-radio-button>
                        <mat-radio-button id="men" value="men">Men</mat-radio-button>
                    </mat-radio-group>
                </div><br>
                <div class="difficultyslevel">
                    <mat-radio-group><p class="dif">Difficulty's level</p>
                        <mat-radio-button id="easy" value="easy">Easy</mat-radio-button>
                        <mat-radio-button id="hard" value="hard">Hard </mat-radio-button>
                    </mat-radio-group>
                </div><br>
                <div class="equipment">
                    <mat-radio-group><p class="equip">Equipment</p>
                        <mat-radio-button id="yes" value="yes">Yes</mat-radio-button>
                        <mat-radio-button id="no" value="no">No</mat-radio-button>
                    </mat-radio-group>
                </div><br>
                <button mat-raised-button id="searchButton">Search</button>
            </mat-card-content>
        </mat-card>
    </div>
</div><br>
<div class="row">
    <div>
        <mat-card class="category">
           <mat-card-title class="category-title">
               Abs
           </mat-card-title>
           <mat-card>
               <mat-card-title class="exercise-title"> 
                   Obliques
               </mat-card-title>
               <mat-card-content>
                  <iframe width="250" height="215" src="https://www.youtube.com/embed/9Q0D6xAyrOI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </mat-card-content>
           </mat-card><br>
           <mat-card>
               <mat-card-title class="exercise-title">
                   Crunch
               </mat-card-title>
               <mat-card-content>
                   <iframe width="250" height="215" src="https://www.youtube.com/embed/Ai1Ne5dLlQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </mat-card-content>
           </mat-card>
       </mat-card>        
   </div>
</div>