h1{
    text-align: center;
}
#filtersButton{
    margin: 0 auto; 
    display: block;
    background-color:#3F51B5;
    color:white;
}
.row{
    display: flex;
    flex-direction:row;
}

mat-list-option {
    text-align: left;
}
mat-drawer-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.filter-type-subheader {
    font-size: large;
}
#searchButton{
    background-color:#3F51B5;
    color:white;
    margin: 0 auto; 
    display: block;
}
mat-drawer-content {
    width: 100vw;
}
@media screen and (max-width:320px){
    mat-drawer{
        width:40%;
        height:70%;
        border-radius: 20px;
        margin-top:80px;
    }
    #filtersButton{
        margin: 0 auto; 
        display: block;
        background-color:#3F51B5;
        color:white;
        margin-top:5px;
    }
}
@media screen and (max-height:320px){
    mat-drawer{
        width:20%;
        height:70%;
        border-radius: 20px;
        margin-top:80px;
    }
    #filtersButton{
        margin: 0 auto; 
        display: block;
        background-color:#3F51B5;
        color:white;
        margin-top:5px;
    }
}

@media screen and (min-width:321px)and (max-width:375px){
    mat-drawer{
        width:35%;
        height:70%;
        border-radius: 20px;
        margin-top:80px;
    }
    #filtersButton{
        margin: 0 auto; 
        display: block;
        background-color:#3F51B5;
        color:white;
        margin-top:5px;
    }
}
@media screen and (min-height:321px) and (max-height:375px){
    mat-drawer{
        width:20%;
        height:70%;
        border-radius: 20px;
        margin-top:80px;
    }
    #filtersButton{
        margin: 0 auto; 
        display: block;
        background-color:#3F51B5;
        color:white;
        margin-top:5px;
    }
}
@media screen and (min-width:376px)and (max-width:425px){
    mat-drawer{
        width:35%;
        height:70%;
        border-radius: 20px;
        margin-top:80px;
    }
    #filtersButton{
        margin: 0 auto; 
        display: block;
        background-color:#3F51B5;
        color:white;
        margin-top:5px;
    }
}
@media screen and (min-height:376px) and (max-height:425px){
    mat-drawer{
        width:25%;
        height:70%;
        border-radius: 20px;
        margin-top:80px;
    }
    #filtersButton{
        margin: 0 auto; 
        display: block;
        background-color:#3F51B5;
        color:white;
        margin-top:5px;
    }
}