@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-sidenav {
    width: 200px;
    padding:10px;
}
.mat-drawer { 
    background-color: #3F51B5;
    color:#fff
}
#men{
    margin-left:20px;
}
#hard{
    margin-left:37px;
}
#no{
    margin-left:47px;
}
h1{
    color:  #3F51B5; 
    font-style: oblique;
    font-size: 50px; 
    line-height: 100px; 
    font-weight: normal;
    margin-top: 1px;
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
}
.advisedfor,.difficultyslevel,.equipment{
    margin-left:20px;
}
.part{
    margin-left:-20px;
}
.partofbody{
    margin-left:40px;
}
.part,.equip,.adv,.dif{
    font-size:18px;
}
.features{
    margin-left:120px;
    margin-top:-75px;
    background-color: lightgray;
    border-radius: 25px;
    display: inline-block;
 }
 #searchButton{
    background-color:  #3F51B5 ;
    margin-left:55px;
 }
 .category{
     width:300px;
     margin-left:50px;
     background-color: lightgray;
 }
.row{
    display: flex;
    flex-direction:row;
}
.exercise-title{
    font-size:20px;
}
.category-title{
    text-align: center;
    font-size:25px;
}