@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-sidenav {
    width: 200px;
    padding:10px;
}
.mat-drawer { 
    background-color: #3F51B5;
    color:#fff
}
#yes,#men,#women,#easy{
    margin-left:20px;
}
#hard,#no{
    margin-left:37px;
}
#no{
    margin-left:47px;
}
h1{
    color:  #3F51B5; 
    font-style: oblique;
    font-size: 50px; 
    line-height: 100px; 
    font-weight: normal;
    margin-top: 1px;
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
}
.part,.advisedfor,.difficultyslevel,.equipment{
    margin-left:20px;
}
.partofbody{
    margin-left:40px;
}
.part,.equip,.adv,.dif{
    font-size:18px;
}
.features{
    margin-left:900px;
    margin-top:-45px;
    background-color: lightgray;
    border-radius: 25px;
 }
 #searchButton{
    background-color:  #3F51B5 ;
    margin-left:65px;
 }
