<mat-drawer-container autosize class="example-container">
    <mat-drawer #drawer mode="side" position="end" opened="true">
        <mat-selection-list id="categories">
            <div mat-subheader class="filter-type-subheader">Part of body</div>
            <mat-list-option>Legs</mat-list-option>
            <mat-list-option>Back</mat-list-option>
            <mat-list-option>Chest</mat-list-option>
            <mat-list-option>Shoulders</mat-list-option>
            <mat-list-option>Biceps</mat-list-option>
            <mat-list-option>Triceps</mat-list-option>
            <mat-list-option>Abs</mat-list-option>
            <mat-list-option>Core</mat-list-option>
        </mat-selection-list>
        <mat-divider></mat-divider>
        <mat-selection-list>
            <div mat-subheader class="filter-type-subheader">Advised for</div>
            <mat-list-option>Men</mat-list-option>
            <mat-list-option>Women</mat-list-option>
        </mat-selection-list>
        <mat-divider></mat-divider>
        <mat-selection-list>
            <div mat-subheader class="filter-type-subheader">Level of difficulty</div>
            <mat-list-option>Easy</mat-list-option>
            <mat-list-option>Medium</mat-list-option>
            <mat-list-option>Hard</mat-list-option>
        </mat-selection-list>
        <mat-divider></mat-divider>
        <mat-selection-list>
            <div mat-subheader class="filter-type-subheader">Equipment</div>
            <mat-list-option>Yes</mat-list-option>
            <mat-list-option>No</mat-list-option>
        </mat-selection-list>
        <div><button mat-raised-button id="searchButton" (click)="getResults();drawer.toggle();onClick()">Search</button><br></div>
    </mat-drawer>
    <mat-drawer-content>
        <h1>Workout</h1>
        <button mat-raised-button id="filtersButton" (click)="drawer.toggle();onClick()">Show me filters</button><br>
        <div class="card-container">
            <div *ngIf="isClicked">
                <app-result-card2></app-result-card2>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>