<!--filters:-->
<!--Category: Gym, Personal Trainer, Fitness Shop-->
<!--Country:-->
<!--City: -->
<mat-drawer-container>
  <mat-drawer mode="over" #sidenav position="end">
    <mat-nav-list id="filter-list" title="Category">
<!--      https://material.angular.io/components/list/overview-->
      <mat-selection-list #categories>
        <div mat-subheader class="filter-type-subheader">Category</div>
        <mat-list-option>Gym</mat-list-option>
        <mat-list-option>Personal Trainer</mat-list-option>
        <mat-list-option>Fitness Shop</mat-list-option>
      </mat-selection-list>
      <mat-divider></mat-divider>
      <div class="location-container">
        <div mat-subheader class="filter-type-subheader">Location</div>
        <app-location-autocomplete class="autocomplete-field" placeholderStr="Country name"></app-location-autocomplete>
        <app-location-autocomplete class="autocomplete-field" placeholderStr="City name"></app-location-autocomplete>
        <mat-divider></mat-divider>
      </div>
      <button mat-raised-button id="done-button" (click)="sidenav.close()" color="primary">Done!</button>
    </mat-nav-list>
  </mat-drawer>



  <mat-drawer-content>
    <h1 id="title">Search</h1>
    <form class="search-form">
      <input matInput placeholder="Search..." class="search-input" name="search-input">
      <!--      <button>Go</button>-->
      <div class="button-container">
        <button id="filters-button" (click)="sidenav.toggle()">Filters</button>
        <button id="search-button" (click)="getResults()">Go!</button>
      </div>
    </form>


<!--    /*Card deck component */-->
    <div class="card-deck-container">
<!--      <app-result-card></app-result-card>-->
      <div *ngFor="let entry of searchResults" class="card-item">
        <app-result-card [businessData]="entry"></app-result-card>
      </div>

<!--      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->

    </div>





  </mat-drawer-content>
</mat-drawer-container>



