<div class="search-view">
  <div class="search-controls-container">
    <h1 id="title">Search</h1>

<!--    <input matInput placeholder="Search..." class="search-input" name="search-input" >-->

<!--    <button mat-raised-button id="search-button" (click)="search" color="primary">Go!</button>-->

    <form>
      <input matInput placeholder="Search..." class="search-input" name="search-input">
<!--      <button>Go</button>-->
      <button id="search-button" (click)="search">Go!</button>
    </form>

  </div>
  <div class="search-results-container">

  </div>
</div>

