<!--<ngb-carousel>-->
<!--  <ng-template ngbSlide class="slide">-->
<!--    <div>-->
<!--      <img [src]="picture1" alt="Random first slide" [ngStyle]="{ 'height.px':getHeight(), 'width.px':getWidth()}">-->
<!--    </div>-->
<!--    <div class="carousel-caption">-->
<!--      <p class="moto">Don't wish for a good body. <i><b>Search</b></i> for it.</p>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--  <ng-template ngbSlide class="slide">-->
<!--    <div>-->
<!--      <img [src]="picture2" alt="Random second slide" [ngStyle]="{ 'height.px':getHeight(), 'width.px':getWidth()}">-->
<!--    </div>-->
<!--    <div class="carousel-caption">-->
<!--      <p class="moto">Don't wish for a good body. <i><b>Search</b></i> for it.</p>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--  <ng-template ngbSlide class="slide">-->
<!--    <div>-->
<!--      <img [src]="picture3" alt="Random third slide" [ngStyle]="{ 'height.px':getHeight(), 'width.px':getWidth()}">-->
<!--    </div>-->
<!--    <div class="carousel-caption">-->
<!--      <p class="moto">Don't wish for a good body. <i><b>Search</b></i> for it.</p>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</ngb-carousel>-->
<app-footer></app-footer>

